<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/yue.css">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  <aside class="sidebar yue">
    <h1 class="brand" role="banner"><a href="/">{{ site.title }}</a></h1>
    <ul class="nav" role="navigation">
      {% for key in site.data.categories.all %}
      {% assign nav = site.data.categories[key] %}
      <li><a href="{{ nav.url }}">
        <h4 data-hans="{{ nav.title.hans }}">{{ nav.title.hant }}</h4>
        <p data-hans="{{ nav.prose.hans }}">{{ nav.prose.hant }}</p>
      </a></li>
      {% endfor %}
    </ul>
    <footer class="footer-links">
      {% for item in site.footers %}
      <a href="{{ item.url.hant }}" data-hans="{{ item.title.hans }}" data-hans-href="{{ item.url.hans }}">{{ item.title.hant }}</a>
      {% endfor %}
    </footer>
  </aside>
  <div class="wrapper">
    <div class="main yue" role="main">
      {{ content }}
    </div>
  </div>
  <script src="assets/index.js"></script>
</body>
</html>
